<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aloqa</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
  <h1>Biz bilan bog'lanish uchun quyidagi raqamga telefon qiling</h1>

  <h2>
      <a href="+9990-023-0225 ">+9990-023-0225 </a>
      <a href="https://t.me/chemist_X_NUUz">Telegram</a>
      <a href="https://www.facebook.com/davron.abduvokhidov">Facebook</a>
      <a href="https://www.instagram.com/davronjon.abduvokhidov/">Instagramm</a>
  </h2>
{% endblock content %}
</body>
</html>
